<p-card class="p-1" header="Pipes personalizados">
  <p>
    Pipes personalizados | creados por
    {{ "nosotros" | toggleCase : isUpperCase }}
  </p>
</p-card>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      label="ToggleCase"
      icon="pi pi-search"
      class="mr-2"
      (onClick)="toggleUpperCase()"
    ></p-button>
  </div>
  <div class="p-toolbar-group-center">
    <p-button
      label="Por nombre"
      icon="pi pi-sort"
      class="mr-2"
      styleClass="p-button-success"
      (onClick)="changeOrder('name')"
    ></p-button>
    <p-button
      label="Por volar"
      icon="pi pi-sort"
      class="mr-2"
      styleClass="p-button-danger"
      (onClick)="changeOrder('canFly')"
    ></p-button>
    <p-button
      label="Por color"
      icon="pi pi-sort"
      class="mr-2"
      styleClass="p-button-help"
      (onClick)="changeOrder('color')"
    ></p-button>
  </div>
  <!-- <div class="p-toolbar-group-center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText placeholder="Search" />
    </span>
  </div> -->
</p-toolbar>

<p-panel header="Heroes">
  <p-table
    [value]="heroes | sortBy : orderBy"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Can Fly</th>
        <th>Color</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hero>
      <tr>
        <td>{{ hero.name }}</td>
        <td>{{ hero.canFly | canFly | titlecase }}</td>
        <td>{{ hero.color }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
