<p-card class="p-1" header="Pipes básicos">
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-card>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-panel header="uppercase"> {{ nameLower | uppercase }} </p-panel>
  </div>
  <div class="col-12 md:col-4">
    <p-panel header="lowercase"> {{ nameUpper | lowercase }} </p-panel>
  </div>
  <div class="col-12 md:col-4">
    <p-panel header="titlecase">{{ fullName | titlecase }} </p-panel>
  </div>
  <div class="col-12 md:col-6">
    <p-panel header="Dates">
      <ol>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date: 'short'</li>
        <li>fecha | date: 'long'</li>
        <li>fecha | date: 'MMMM'</li>
        <li>fecha | date: 'MMMM dd, yyyy'</li>
      </ol>
      <hr />
      <ol>
        <li>fecha | date: 'long': 'GMT-6'</li>
        <li>fecha | date: 'long': 'GMT-4'</li>
        <li>fecha | date: 'long': '' : 'es-PE'</li>
        <li>fecha | date: 'long': '' : 'fr-CA'</li>
      </ol>
    </p-panel>
  </div>
  <div class="col-12 md:col-6">
    <p-panel header="Dates piped">
      <ol>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date }}</li>
        <li>{{ customDate | date : "short" }}</li>
        <li>{{ customDate | date : "long" }}</li>
        <li>{{ customDate | date : "MMMM" }}</li>
        <li>{{ customDate | date : "MMMM dd, yyyy" }}</li>
      </ol>
      <hr />
      <ol>
        <li>{{ customDate | date : "long" : "GMT-5" }}</li>
        <li>{{ customDate | date : "long" : "GMT-4" }}</li>
        <li>{{ customDate | date : "long" : "" : "es-PE" }}</li>
        <li>{{ customDate | date : "long" : "" : "fr-CA" }}</li>
      </ol>
    </p-panel>
  </div>
</div>
